:root {
  --color-primary: #172d3e;
  --color-secondary: #9fa7ad;
  --background-color-dark: #112331;
  --background-color-bids: "#205c4e";
  --background-color-asks: "#813d3a";
  --border-color-dark: rgb(18, 31, 39);
}

$spacer-xs: 4px;
$spacer-s: 8px;
$spacer-m: 12px;
$spacer-l: 17px;
$spacer-xl: 28px;
